.profile-box {
  border: 2px solid #322e2e;
  padding: 20px;
  margin: 20px auto;
  width: 400px;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-family: "Funnel Display";
  font-weight: lighter;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(86, 88, 82);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  gap: 20px;
  cursor: pointer;
}

.true-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.animated-element h2,
.animated-element h4,
.animated-element h5 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
}

.animated-element,
.true-button,
.attribution,
.avatar {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 2s ease-out forwards;
}

.avatar {
  animation-delay: 0.3s;
}
.animated-element:nth-child(1) {
  animation-delay: 0.4s;
}
.animated-element:nth-child(2) {
  animation-delay: 0.5s;
}
.animated-element:nth-child(3) {
  animation-delay: 0.6s;
}
.true-button:nth-child(1) {
  animation-delay: 0.7s;
}
.true-button:nth-child(2) {
  animation-delay: 0.8s;
}
.true-button:nth-child(3) {
  animation-delay: 0.9s;
}

.attribution {
  animation-delay: 1s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  font-size: 40px;
  background: linear-gradient(90deg, #5e9497e9, #b0abab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

h4 {
  font-size: 30px;
  background: linear-gradient(90deg, rgb(0, 177, 144), rgb(0, 177, 133));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

h5 {
  font-size: 25px;
  background: linear-gradient(
    90deg,
    rgba(255, 122, 244, 0.801),
    rgba(255, 255, 255, 0.619)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: rgb(23, 21, 21);
  color: white;
}

.logo img {
  height: 45px;
  width: 167px;
}

a:hover {
  background-color: rgb(91, 91, 157);
}

.attribution {
  font-size: 18px;
  margin-top: 20px;
}

.attribution a {
  text-decoration: none;
  background: linear-gradient(
    90deg,
    rgba(77, 225, 241, 0.625),
    rgba(0, 229, 255, 0.634)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.true-button::selection {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

h2::selection,
h4::selection,
h5::selection {
  background-color: rgb(40, 40, 40);
  color: pink;
}

.avatar::selection,
.attribution::selection {
  background-color: transparent;
  color: rgb(61, 216, 61);
}